<div class="graphContainer">
  {{high-charts chartOptions=chartOptions content=chartData }}
</div>

<p class="refreshRateText">
  Refresh rate : every {{this.refreshRate}} seconds
</p>

<button class="stopRefreshBtn" {{action "stopRefreshing" }}>
  {{if this.refreshing "Stop Refreshing" "Refreshing Stopped"}}
</button>